div.box {
    position: absolute;
    width: 100%;
    height: 80%;
    left: 0%;
    top: 20%;
    border: 3px solid #73AD21;
} 

div.little-box {
    position: relative;
    width: 100px;
    height: 100px;
    left: 0%;
    top: 0%;
    border: 3px solid #73AD21;
} 


div.top-right {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 33%;
    height: 33%;
    background-color:  lightgrey;

}
div.top-left {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 33%;
    height: 33%;
    background-color:  lightgrey;

}
div.bottom-right {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 43%;
    height: 33%;
    background-color:  lightgrey;

}
div.bottom-left {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 33%;
    height: 33%;
    background-color:  lightgrey;

}

div.outs {
   position:  relative;
   left:  7%;
   top: 60%;
   width: 25%;
   height: 33%;
   border: 1px solid black;
   float:  left;
   border-radius:  100%;
   margin: 2%;
   background-color: white;
}

div .outs .out {
    background-color: black;
}

div .field {
    width: 48%;
    height: 60%;
    position: absolute;
    top: 27%;
    left: 26%;
    background-color: lightgrey;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
    
}

div .little-field {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 27%;
    left: 26%;
    background-color: lightgrey;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
    
}



div .field .home-plate {
    position: absolute;
    width: 20%;
    height: 20%;
    right: 0;
    bottom: 0%;
    background-color: red;
    
}

div .field .first-base {
    position: absolute;
    width: 20%;
    height: 20%;
    right: 0%;
    top: 0%;
    background-color: blue;
    
}

div .field .second-base {
    position: absolute;
    width: 20%;
    height: 20%;
    left: 0;
    top: 0%;
    background-color: blue;
    
}


div .field .third-base {
    position: absolute;
    width: 20%;
    height: 20%;
    left: 0%;
    bottom: 0%;
    background-color: blue;
    
}





div .to-first {
    
    width: 5%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: black;
    
}

div .to-second {
    width: 100%;
    height: 5%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: black;
     
}

div .advance-from-first {
    width: 75%;
    height: 5%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: red;
     
}

div .to-third {
    width: 5%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: black;
     
}

div .advance-from-second {
    width: 5%;
    height: 75%;
    position: absolute;
    top: 25%;
    left: 0%;
    background-color: red;
     
}

div .to-home {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: black;
     
}

div .advance-from-third {
    width: 75%;
    height: 5%;
    position: absolute;
    bottom: 0%;
    left: 25%;
    background-color: red;
     
}


div#double {
    border-right: 5px solid black;
    border-top: 5px solid black;

}


div.positions {
   width: 15%;
   height: 18.75%;
   border: 1px solid black;
   
   border-radius:  100%;

   background-color: white;
   text-align: center;
   vertical-align: middle;
}

div .positions.pitcher {
    position: absolute;
    left: 42.5%;
    top: 50%;
    
}
