<!DOCTYPE html>
<html ng-app='keepScore'>
<head lang="en">
    <meta charset="UTF-8">
    <title>Keep Score Project</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/scorecard.css">
    <link rel="stylesheet" type="text/css" href="/styles/scorebox.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>-->
<!--    <script src="/scripts/bower_components/jquery/src/jquery.js"></script>-->
    <script src="/scripts/bower_components/angular/angular.js"></script>
    <script src="/scripts/bower_components/myforce-angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>
    <script src='/scripts/bower_components/angular-ui-router/release/angular-ui-router.js'></script>
    
</head>
<body ng-cloak>
    <div class="navbar">Navigation Bar</div>
    <div ng-controller="scorecardCtrl as scorecard">
        <div class="score-ribbon">
          <div>
              <table class='scoreboard'>
                <tr>
                    <th class= 'team'></th>  
                    <div class='score'>
                        <th>R</th>
                        <th>H</th>
                        <th>E</th>
                    </div>
                </tr>
                <tr ng-repeat='t in teamRow track by $index' ng-controller="scorecardCtrl" ng-click='getIndex($index)'>
                    <td class='team'>
                        
                         <div class="select" ng-dropdown-multiselect="" options="teams" selected-model="team" extra-settings="teamDropDownSettings" events='{onItemSelect: designateTeam}'></div>
                        <div class='name'>{{team.label}}</div>
                    </td>
                    <div class='score'>
                        <td>{{runs}}</td>
                        <td>{{hits}}</td>
                        <td>{{errors}}</td>
                    </div>
                </tr>
              
              </table>
            
          </div>
        
        
        
        
        </div>
        <div class="container">
            <ul class="nav nav-tabs">
<!--
                <li><a ui-sref="homeTeam">Home Team</a></li>
                <li><a ui-sref="visitorTeam">Visitor Team</a></li> 
-->
                
                <li><a ng-click="showVisitorTeam()">Visitor Team</a></li> 
                <li><a ng-click="showHomeTeam()">Home Team</a></li>
            </ul>
  <div class="tab-content">
            
      
<!--      <div ui-view></div>-->

            <div id="home" class="tab-pane fade in active" ng-show="showHome">
                Home
                <div class="card">

                    <table class='scorecard'>

                        <tr>
                            <th class='order-number'></th>
                            <th class='uniform-number'>#</th>
                            <th class='player-name'>Batter</th>
                            <th class='position'>POS</th>
                            <th class='field-box' ng-repeat='i in scorecard.inningsArray'>{{i}}</th>
                        </tr>

                            <tr class='scorecard-row' ng-controller="rowCtrl as row" ng-repeat='r in scorecard.rowsArray track by $index' ng-click='getIndex($index)' id={{$index}}>

                                    <td class='order-number'>{{$index+1}}</td>
                                    <td class='uniform-number'>{{batter.number}}</td>
                                    <td class='player-name'>{{batter.label}}

                                            <div class="drop-down-box" ng-dropdown-multiselect="" options="roster" selected-model="batter" extra-settings="batterDropDownSettings" events='{onItemSelect: eventListener}'></div>

                                    </td>

                                    <td class='position'>5</td>
                                    <td class='field-box' ng-controller='fieldBoxCtrl as fieldBox' ng-repeat='i in scorecard.inningsArray track by $index' ng-click='decideLittleBox(rowIndex, $index)' id='{{rowIndex}}{{$index}}' ng-style="{'background-color': atBatBackground}">
                                        <at-bat-score-box-dr></at-bat-score-box-dr>  


                                        <div  ng-show="showLittleBox === 'after'" >
                                            <div class="little-box">
                                              <div class="top-right">
                                                  <div ng-show="topRight">
                                                    {{onBaseString}}
                                                  </div>

                                              </div>
                                              <div class="top-left">
                                                <div ng-show="topLeft">
                                                    {{advBaseString}}
                                                </div>
                                              </div>
                                              <div class="bottom-right">
                                                <div id="one" class="outs" ng-style="{'background-color': oneOut}"></div>
                                                <div id="two" class="outs" ng-style="{'background-color': twoOut}"></div>
                                                <div id ="three" class="outs" ng-style="{'background-color': threeOut}">
                                                  </div>
                                              </div>
                                              <div class="bottom-left"></div>
                                              <div class="center" ng-show="center">{{centerString}}</div>
                                              <div class="little-field" ng-style="{'background-color': fieldBackground}">
                                                 <div class="home-plate" ></div>
                                                 <div class="first-base" ></div>
                                                 <div class="second-base" ></div>
                                                 <div class="third-base" ></div>

                                                 <div ng-class='first'></div>
                                                 <div ng-class='second'></div>
                                                 <div ng-class='third'></div>
                                                 <div ng-class='home'></div>

                                              </div> 
                                            </div>
                                        </div>


                                    </td>

                            </tr>
                            <tr>
                        
                                <th class='order-number'></th>
                                <th class='uniform-number'></th>
                                <th class='player-name'>H/R</th>
                                <th class='position'></th>
                                <th class='field-box' ng-controller='fieldBoxCtrl as fieldBox' ng-repeat='i in scorecard.inningsArray'>
                                    {{homeInningHits[$index]}}/{{homeInningRuns[$index]}}
                                </th>
                        
                            </tr>

                    </table>

                </div>
            </div>
            
        <div id="visitor" class="tab-pane fade in active" ng-show="showVisitors">
            Visitors
            <div class="card">

                <table class='scorecard'>

                    <tr>
                        <th class='order-number'></th>
                        <th class='uniform-number'>#</th>
                        <th class='player-name'>Batter</th>
                        <th class='position'>POS</th>
                        <th class='field-box' ng-repeat='i in scorecard.inningsArray'>{{i}}</th>
                    </tr>

                        <tr class='scorecard-row' ng-controller="rowCtrl as row" ng-repeat='r in scorecard.rowsArray track by $index' ng-click='getIndex($index)' id={{$index}}>

                                <td class='order-number'>{{$index+1}}</td>
                                <td class='uniform-number'>{{batter.number}}</td>
                                <td class='player-name'>{{batter.label}}

                                        <div class="drop-down-box" ng-dropdown-multiselect="" options="roster" selected-model="batter" extra-settings="batterDropDownSettings" events='{onItemSelect: eventListener}'></div>

                                </td>

                                <td class='position'>5</td>
                                <td class='field-box' ng-controller='fieldBoxCtrl as fieldBox' ng-repeat='i in scorecard.inningsArray track by $index' ng-click='decideLittleBox(rowIndex, $index)' id='{{rowIndex}}{{$index}}' ng-style="{'background-color': atBatBackground}">
                                    <at-bat-score-box-dr></at-bat-score-box-dr>  


                                    <div  ng-show="showLittleBox === 'after'" >
                                        <div class="little-box">
                                          <div class="top-right">
                                              <div ng-show="topRight">
                                                {{onBaseString}}
                                              </div>

                                          </div>
                                          <div class="top-left">
                                            <div ng-show="topLeft">
                                                {{advBaseString}}
                                            </div>
                                          </div>
                                          <div class="bottom-right">
                                            <div id="one" class="outs" ng-style="{'background-color': oneOut}"></div>
                                            <div id="two" class="outs" ng-style="{'background-color': twoOut}"></div>
                                            <div id ="three" class="outs" ng-style="{'background-color': threeOut}">
                                              </div>
                                          </div>
                                          <div class="bottom-left"></div>
                                          <div class="center" ng-show="center">{{centerString}}</div>
                                          <div class="little-field" ng-style="{'background-color': fieldBackground}">
                                             <div class="home-plate" ></div>
                                             <div class="first-base" ></div>
                                             <div class="second-base" ></div>
                                             <div class="third-base" ></div>

                                             <div ng-class='first'></div>
                                             <div ng-class='second'></div>
                                             <div ng-class='third'></div>
                                             <div ng-class='home'></div>

                                          </div> 
                                        </div>
                                    </div>


                                </td>

                        </tr>
                    
                        <tr>
                        
                                <th class='order-number'></th>
                                <th class='uniform-number'></th>
                                <th class='player-name'>H/R</th>
                                <th class='position'></th>
                                <th class='field-box' ng-controller='fieldBoxCtrl as fieldBox' ng-repeat='i in scorecard.inningsArray track by $index'>
                                    {{visitorsInningHits[$index]}}/{{visitorsInningRuns[$index]}} 
                                </th>
                        
                        </tr>
                    

                </table>

            </div>
        </div>    
        </div>
    
    </div>
    </div>

    
   
    
    <script src='/scripts/scorecardMod.js'></script>
<!--    <script src='/scripts/values/teamRoster.js'></script>-->
<!--    <script src='/scripts/values/scorecardBoxState.js'></script>-->
    <script src='/scripts/values/boxState.js'></script>
    <script src='/scripts/values/states.js'></script>
<!--    <script src='/scripts/values/basePathState.js'></script>-->
    
    <script src='/scripts/services/lineup.js'></script>
    <script src='/scripts/services/AtBatFactory.js'></script>
    
    <script src='/scripts/directives/atBatScoreBox.js'></script>
    <script src='/scripts/directives/onBaseScoreBox.js'></script>
    <script src='/scripts/directives/outScoreBox.js'></script>
    
    <script src='/scripts/controllers/fieldBoxCtrl.js'></script>
    
    <script src='/scripts/controllers/rowCtrl.js'></script>
    <script src='/scripts/controllers/scorecardCtrl.js'></script>
    <script src="/scripts/app.js"></script>
</body>
</html>

