<md-dialog>
    <md-dialog-content>
        <div>
            <p>Errors are wierd...</p>
            <p>Was the error a muffed catch at first that would have completed a double play?  If Yes, then no RBI</p>
            <p>Did the error help the run to score?  If Yes, then no RBI.  (Note:  if runner from third would have scored anyway then answer is No.)</p>
        </div>
        
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialogNoRBI()">Yes to either</md-button>
        <md-button ng-click="closeDialogRBI()">No to both</md-button>
    </md-dialog-actions>  
    
    
    
</md-dialog>